*{
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  &:focus{
    outline: 0;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5F4F2;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 85%;
  margin: 0 auto;
  border-radius: 8px;
  z-index: 1;
  &-white{
    background: #FFFFFF;
    padding: 0px 13px 0px 18px;
  }
}


